html{
  scroll-behavior: smooth;
}
.App {
  text-align: center;

}
.card:hover{
  box-shadow:
  0 0 5px #fff,
  0px 0 25px #f0f,
  0px 0 25px #0ff;
}
::placeholder{
  font-weight:600;
}
.footer {
  background-image: linear-gradient(
    179.54deg,
    #04001E,
    rgb(30, 7, 63) 56.42%,
    #E41476 113.51%
  );
}
.mainPage{
  background-image: linear-gradient(
    5deg,
    #04001e,
    rgb(30, 7, 63) 56.42%,
    #E41476 113.51%
  );
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
